In [1]:
import matplotlib.pyplot as plt
import time
from mlrose_hiive import simulated_annealing, random_hill_climb, mimic, genetic_alg
from mlrose_hiive import OneMax
from mlrose_hiive import FlipFlop
from mlrose_hiive import DiscreteOpt
from mlrose_hiive.algorithms import GeomDecay
import mlrose_hiive

In [2]:
fitness = OneMax()
problem = DiscreteOpt(length=100, fitness_fn=fitness)
problem.set_mimic_fast_mode(True)

In [3]:
fitness = FlipFlop()
problem = DiscreteOpt(length=100, fitness_fn=fitness)
problem.set_mimic_fast_mode(True)

In [38]:
best_state, best_fitness, curve = random_hill_climb(problem, max_iters=10000, restarts=50, curve=True)
print(best_fitness)
print(curve.shape)

604.0
(224, 2)

In [23]:
PROBLEM_SIZE = 100
problem = DiscreteOpt(length=PROBLEM_SIZE, fitness_fn=fitness)
restarts = [1, 10, 50, 100, 150]
rh_runner = mlrose_hiive.RHCRunner(problem, seed=42, experiment_name='RHC_FlipFlop_100',
                                  iteration_list=[PROBLEM_SIZE/2, PROBLEM_SIZE*2, PROBLEM_SIZE*5], output_directory='output',
                                  max_attempts=10, restart_list=restarts)
rhc_stats_100, rhc_curve_100 = rh_runner.run()

In [24]:
rhc_stats_100[rhc_stats_100.Fitness == rhc_stats_100.Fitness.max()]

,Iteration,Fitness,FEvals,Time,State,Restarts,max_iters,current_restart
597,50.0,78.0,3409,7.542360,"[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, ...",100,500,85
598,200.0,78.0,3412,7.581880,"[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, ...",100,500,85
599,500.0,78.0,3412,7.581880,"[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, ...",100,500,85
1001,50.0,78.0,3409,11.516682,"[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, ...",150,500,85
1002,200.0,78.0,3412,11.581930,"[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, ...",150,500,85
1003,500.0,78.0,3412,11.581930,"[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, ...",150,500,85

In [25]:
PROBLEM_SIZE = 500
problem = DiscreteOpt(length=PROBLEM_SIZE, fitness_fn=fitness)
restarts = [50, 100]
rh_runner = mlrose_hiive.RHCRunner(problem, seed=42, experiment_name='RHC_FlipFlop_500',
                                  iteration_list=[PROBLEM_SIZE/2, PROBLEM_SIZE*2, PROBLEM_SIZE*5], output_directory='output',
                                  max_attempts=10, restart_list=restarts)
rhc_stats_500, rhc_curve_500 = rh_runner.run()

In [26]:
rhc_stats_500[rhc_stats_500.Fitness == rhc_stats_500.Fitness.max()]

,Iteration,Fitness,FEvals,Time,State,Restarts,max_iters,current_restart
89,250.0,310.0,1392,2.228582,"[0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, ...",50,2500,22
90,1000.0,310.0,1392,2.228582,"[0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, ...",50,2500,22
91,2500.0,310.0,1392,2.228582,"[0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, ...",50,2500,22
293,250.0,310.0,1392,3.042544,"[0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, ...",100,2500,22
294,1000.0,310.0,1392,3.042544,"[0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, ...",100,2500,22
295,2500.0,310.0,1392,3.042544,"[0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, ...",100,2500,22

In [40]:
decay = ExpDecay(init_temp=10000, exp_const=0.5)
sa_best_state, sa_best_fitness, sa_curve = simulated_annealing(problem, schedule=decay, curve=True)
print(sa_best_fitness, sa_curve.shape)

752.0 (1136, 2)

In [31]:
PROBLEM_SIZE = 100

In [36]:
problem = DiscreteOpt(length=PROBLEM_SIZE, fitness_fn=fitness)
init_temp = [1, 10, 25]
sa_runner = mlrose_hiive.SARunner(problem,
                           seed=42,
                           output_directory='output',
                           experiment_name='SA_Flip_Flops_100',
                           iteration_list=[PROBLEM_SIZE/2, PROBLEM_SIZE*2, PROBLEM_SIZE*5, 10000],
                           temperature_list=init_temp,
                           decay_list=[mlrose_hiive.GeomDecay, mlrose_hiive.ExpDecay],
                           )
sa_stats, sa_curve = sa_runner.run()

In [37]:
sa_stats[sa_stats.Fitness == sa_stats.Fitness.max()]

,Iteration,Fitness,FEvals,Time,State,schedule_type,schedule_init_temp,schedule_decay,schedule_min_temp,schedule_current_value,Temperature,max_iters,schedule_exp_const
9,10000.0,99.0,8033,16.013573,"[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, ...",exponential,1,NaN,0.001,0.923054,1,10000,0.005

In [38]:
PROBLEM_SIZE = 500
problem = DiscreteOpt(length=PROBLEM_SIZE, fitness_fn=fitness)
init_temp = [1, 10, 25]
sa_runner = mlrose_hiive.SARunner(problem,
                           seed=42,
                           output_directory='output',
                           experiment_name='SA_Flip_Flops_500',
                           iteration_list=[PROBLEM_SIZE/2, PROBLEM_SIZE*2, PROBLEM_SIZE*5, 10000],
                           temperature_list=init_temp,
                           decay_list=[mlrose_hiive.GeomDecay, mlrose_hiive.ExpDecay])
sa_5_stats, sa_5_curve = sa_runner.run()

In [39]:
sa_5_stats[sa_5_stats.Fitness == sa_5_stats.Fitness.max()]

,Iteration,Fitness,FEvals,Time,State,schedule_type,schedule_init_temp,schedule_decay,schedule_min_temp,schedule_current_value,Temperature,max_iters,schedule_exp_const
9,10000.0,482.0,11824,38.147287,"[1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, ...",exponential,1,NaN,0.001,0.82635,1,10000,0.005

In [17]:
ga_best_state, ga_best_fitness, ga_curve = genetic_alg(problem, curve=True)

In [42]:
print(ga_best_fitness, ga_curve.shape)

572.0 (11, 2)

In [29]:
PROBLEM_SIZE = 100
problem = DiscreteOpt(length=PROBLEM_SIZE, fitness_fn=fitness)
population = [PROBLEM_SIZE/2, PROBLEM_SIZE*2]
ga_runner = mlrose_hiive.GARunner(problem,
                           seed=42,
                           output_directory='output',
                           iteration_list=[PROBLEM_SIZE/2, PROBLEM_SIZE*2, PROBLEM_SIZE*5],
                           experiment_name='GA_Flip_Flops_100',
                           population_sizes=population, mutation_rates=[0.1, 0.3, 0.5])
ga_stats_100, ga_curve_100 = ga_runner.run()

In [30]:
ga_stats_100[ga_stats_100.Fitness == ga_stats_100.Fitness.max()]

,Iteration,Fitness,FEvals,Time,State,Population Size,Mutation Rate,max_iters
18,200.0,94.0,40416,10.574783,"[0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, ...",200.0,0.3,500
19,500.0,94.0,100716,26.309175,"[0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, ...",200.0,0.3,500

In [40]:
PROBLEM_SIZE = 500
problem = DiscreteOpt(length=PROBLEM_SIZE, fitness_fn=fitness)
population = [PROBLEM_SIZE/2, PROBLEM_SIZE*2]
ga_runner = mlrose_hiive.GARunner(problem,
                           seed=42,
                           output_directory='output',
                           iteration_list=[PROBLEM_SIZE/2, PROBLEM_SIZE*2, PROBLEM_SIZE*5],
                           experiment_name='GA_Flip_Flops_500',
                           population_sizes=population, mutation_rates=[0.1, 0.3, 0.5])
ga_stats_500, ga_curve_500 = ga_runner.run()

In [41]:
ga_stats_500[ga_stats_500.Fitness == ga_stats_500.Fitness.max()]

,Iteration,Fitness,FEvals,Time,State,Population Size,Mutation Rate,max_iters
22,1000.0,463.0,792844,898.615006,"[1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, ...",1000.0,0.5,2500
23,2500.0,463.0,792844,898.615006,"[1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, ...",1000.0,0.5,2500

In [44]:
m_best_state, m_best_fitness, m_curve = mimic(problem, curve=True)
print(m_best_fitness, m_curve.shape)

750.0 (36, 2)

In [49]:
problem = DiscreteOpt(length=100, fitness_fn=fitness)
mimic(problem, max_iters=10)

(array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]),
 99.0,
 None)

In [43]:
PROBLEM_SIZE = 100
problem = DiscreteOpt(length=PROBLEM_SIZE, fitness_fn=fitness)
population = [PROBLEM_SIZE/2, PROBLEM_SIZE*2]
m_runner = mlrose_hiive.MIMICRunner(problem,
                           seed=42,
                           output_directory='output',
                           iteration_list=[PROBLEM_SIZE/2, PROBLEM_SIZE*2, PROBLEM_SIZE*5],
                           experiment_name='mimc_Flip_Flops_100',
                           keep_percent_list=[0.25, 0.5, 0.75]
                                    , population_sizes=population
                            , use_fast_mimic=True)
m_stats_100, m_curve_100 = m_runner.run()

In [44]:
m_stats_100[m_stats_100.Fitness == m_stats_100.Fitness.max()]

,Iteration,Fitness,FEvals,Time,State,use_fast_mimic,Population Size,Keep Percent,max_iters
23,500.0,91.0,100712,55.118292,"[0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, ...",True,200.0,0.75,500

In [45]:
PROBLEM_SIZE = 500
problem = DiscreteOpt(length=PROBLEM_SIZE, fitness_fn=fitness)
population = [PROBLEM_SIZE/2, PROBLEM_SIZE*2]
m_runner = mlrose_hiive.MIMICRunner(problem,
                           seed=42,
                           output_directory='output',
                           iteration_list=[PROBLEM_SIZE/2, PROBLEM_SIZE*2, PROBLEM_SIZE*5],
                           experiment_name='mimc_Flip_Flops_100',
                           keep_percent_list=[0.25, 0.5, 0.75]
                                    , population_sizes=population
                            , use_fast_mimic=True)
m_stats_100, m_curve_100 = m_runner.run()

In [46]:
m_stats_100[m_stats_100.Fitness == m_stats_100.Fitness.max()]

,Iteration,Fitness,FEvals,Time,State,use_fast_mimic,Population Size,Keep Percent,max_iters
13,250.0,446.0,251281,1573.935452,"[0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, ...",True,1000.0,0.25,2500
14,1000.0,446.0,551581,3739.656603,"[0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, ...",True,1000.0,0.25,2500
15,2500.0,446.0,551581,3739.656603,"[0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, ...",True,1000.0,0.25,2500