In [2]:
import matplotlib.pyplot as plt
import time
from mlrose_hiive import simulated_annealing, random_hill_climb, mimic, genetic_alg
from mlrose_hiive import OneMax
from mlrose_hiive import FlipFlop
from mlrose_hiive import DiscreteOpt
from mlrose_hiive.algorithms import GeomDecay
import mlrose_hiive

In [4]:
# fitness = OneMax()
# problem = DiscreteOpt(length=100, fitness_fn=fitness)
problem = mlrose_hiive.KnapsackGenerator()
# problem.set_mimic_fast_mode(True)

In [3]:
# fitness = FlipFlop()
# problem = DiscreteOpt(length=100, fitness_fn=fitness)
# problem.set_mimic_fast_mode(True)

In [38]:
# best_state, best_fitness, curve = random_hill_climb(problem, max_iters=10000, restarts=50, curve=True)
# print(best_fitness)
# print(curve.shape)

604.0
(224, 2)

In [8]:
PROBLEM_SIZE = 100
problem = mlrose_hiive.KnapsackGenerator().generate(42)
restarts = [1, 10, 50, 100, 150]
rh_runner = mlrose_hiive.RHCRunner(problem, seed=42, experiment_name='RHC_Knapsack_100',
                                  iteration_list=[PROBLEM_SIZE/2, PROBLEM_SIZE*2, PROBLEM_SIZE*5, 5000], output_directory='output',
                                  max_attempts=10, restart_list=restarts)
k_rhc_stats_100, k_rhc_curve_100 = rh_runner.run()

In [9]:
k_rhc_stats_100[k_rhc_stats_100.Fitness == k_rhc_stats_100.Fitness.max()]

,Iteration,Fitness,FEvals,Time,State,Restarts,max_iters,current_restart
171,50.0,209.0,690,0.454641,"[4, 3, 4, 4, 4, 2, 4, 4, 0, 4]",50,5000,21
172,200.0,209.0,690,0.454641,"[4, 3, 4, 4, 4, 2, 4, 4, 0, 4]",50,5000,21
173,500.0,209.0,690,0.454641,"[4, 3, 4, 4, 4, 2, 4, 4, 0, 4]",50,5000,21
174,5000.0,209.0,690,0.454641,"[4, 3, 4, 4, 4, 2, 4, 4, 0, 4]",50,5000,21
426,50.0,209.0,690,0.827619,"[4, 3, 4, 4, 4, 2, 4, 4, 0, 4]",100,5000,21
427,200.0,209.0,690,0.827619,"[4, 3, 4, 4, 4, 2, 4, 4, 0, 4]",100,5000,21
428,500.0,209.0,690,0.827619,"[4, 3, 4, 4, 4, 2, 4, 4, 0, 4]",100,5000,21
429,5000.0,209.0,690,0.827619,"[4, 3, 4, 4, 4, 2, 4, 4, 0, 4]",100,5000,21
931,50.0,209.0,690,1.623850,"[4, 3, 4, 4, 4, 2, 4, 4, 0, 4]",150,5000,21
932,200.0,209.0,690,1.623850,"[4, 3, 4, 4, 4, 2, 4, 4, 0, 4]",150,5000,21
933,500.0,209.0,690,1.623850,"[4, 3, 4, 4, 4, 2, 4, 4, 0, 4]",150,5000,21
934,5000.0,209.0,690,1.623850,"[4, 3, 4, 4, 4, 2, 4, 4, 0, 4]",150,5000,21

In [10]:
PROBLEM_SIZE = 500
problem = mlrose_hiive.KnapsackGenerator().generate(42, number_of_items_types=20, max_item_count=10)
restarts = [1, 10, 50, 100, 150]
rh_runner = mlrose_hiive.RHCRunner(problem, seed=42, experiment_name='RHC_Knapsack_100',
                                  iteration_list=[PROBLEM_SIZE/2, PROBLEM_SIZE*2, PROBLEM_SIZE*5, 5000], output_directory='output',
                                  max_attempts=10, restart_list=restarts)
k_rhc_stats_500, k_rhc_curve_500 = rh_runner.run()

In [11]:
k_rhc_stats_500[k_rhc_stats_500.Fitness == k_rhc_stats_500.Fitness.max()]

,Iteration,Fitness,FEvals,Time,State,Restarts,max_iters,current_restart
726,250.0,822.0,3609,6.728056,"[9, 9, 5, 6, 4, 9, 9, 8, 1, 8, 8, 9, 1, 8, 6, ...",100,5000,81
727,1000.0,822.0,3609,6.728056,"[9, 9, 5, 6, 4, 9, 9, 8, 1, 8, 8, 9, 1, 8, 6, ...",100,5000,81
728,2500.0,822.0,3609,6.728056,"[9, 9, 5, 6, 4, 9, 9, 8, 1, 8, 8, 9, 1, 8, 6, ...",100,5000,81
729,5000.0,822.0,3609,6.728056,"[9, 9, 5, 6, 4, 9, 9, 8, 1, 8, 8, 9, 1, 8, 6, ...",100,5000,81
1231,250.0,822.0,3609,10.374531,"[9, 9, 5, 6, 4, 9, 9, 8, 1, 8, 8, 9, 1, 8, 6, ...",150,5000,81
1232,1000.0,822.0,3609,10.374531,"[9, 9, 5, 6, 4, 9, 9, 8, 1, 8, 8, 9, 1, 8, 6, ...",150,5000,81
1233,2500.0,822.0,3609,10.374531,"[9, 9, 5, 6, 4, 9, 9, 8, 1, 8, 8, 9, 1, 8, 6, ...",150,5000,81
1234,5000.0,822.0,3609,10.374531,"[9, 9, 5, 6, 4, 9, 9, 8, 1, 8, 8, 9, 1, 8, 6, ...",150,5000,81

In [40]:
decay = ExpDecay(init_temp=10000, exp_const=0.5)
sa_best_state, sa_best_fitness, sa_curve = simulated_annealing(problem, schedule=decay, curve=True)
print(sa_best_fitness, sa_curve.shape)

752.0 (1136, 2)

In [12]:
PROBLEM_SIZE = 100

In [13]:
problem = mlrose_hiive.KnapsackGenerator().generate(42)
init_temp = [1, 10, 25]
sa_runner = mlrose_hiive.SARunner(problem,
                           seed=42,
                           output_directory='output',
                           experiment_name='SA_knapsack_100',
                           iteration_list=[PROBLEM_SIZE/2, PROBLEM_SIZE*2, PROBLEM_SIZE*5, 10000],
                           temperature_list=init_temp,
                           decay_list=[mlrose_hiive.GeomDecay, mlrose_hiive.ExpDecay],
                           )
sa_stats, sa_curve = sa_runner.run()

In [14]:
sa_stats[sa_stats.Fitness == sa_stats.Fitness.max()]

,Iteration,Fitness,FEvals,Time,State,schedule_type,schedule_init_temp,schedule_decay,schedule_min_temp,schedule_current_value,Temperature,max_iters,schedule_exp_const
13,500.0,205.0,551,0.135219,"[4, 4, 3, 4, 4, 3, 4, 2, 1, 4]",geometric,10,0.99,0.001,9.986419,10,10000,NaN
14,10000.0,205.0,813,0.241529,"[4, 4, 3, 4, 4, 3, 4, 2, 1, 4]",geometric,10,0.99,0.001,9.975755,10,10000,NaN

In [19]:
PROBLEM_SIZE = 500
problem = mlrose_hiive.KnapsackGenerator().generate(42, number_of_items_types=20, max_item_count=10)
init_temp = [1, 10, 25]
sa_runner = mlrose_hiive.SARunner(problem,
                           seed=42,
                           output_directory='output',
                           experiment_name='SA_KS_500',
                           iteration_list=[PROBLEM_SIZE/2, PROBLEM_SIZE*2, PROBLEM_SIZE*5, 10000],
                           temperature_list=init_temp,
                           decay_list=[mlrose_hiive.GeomDecay, mlrose_hiive.ExpDecay])
sa_5_stats, sa_5_curve = sa_runner.run()

In [20]:
sa_5_stats[sa_5_stats.Fitness == sa_5_stats.Fitness.max()]

,Iteration,Fitness,FEvals,Time,State,schedule_type,schedule_init_temp,schedule_decay,schedule_min_temp,schedule_current_value,Temperature,max_iters,schedule_exp_const
22,1000.0,839.0,1040,0.303762,"[8, 9, 0, 6, 1, 9, 8, 7, 0, 9, 0, 9, 8, 9, 9, ...",geometric,25,0.99,0.001,24.923794,25,10000,NaN
23,2500.0,839.0,1040,0.303762,"[8, 9, 0, 6, 1, 9, 8, 7, 0, 9, 0, 9, 8, 9, 9, ...",geometric,25,0.99,0.001,24.923794,25,10000,NaN
24,10000.0,839.0,1040,0.303762,"[8, 9, 0, 6, 1, 9, 8, 7, 0, 9, 0, 9, 8, 9, 9, ...",geometric,25,0.99,0.001,24.923794,25,10000,NaN

In [17]:
ga_best_state, ga_best_fitness, ga_curve = genetic_alg(problem, curve=True)

In [42]:
print(ga_best_fitness, ga_curve.shape)

572.0 (11, 2)

In [15]:
PROBLEM_SIZE = 100
problem = problem = mlrose_hiive.KnapsackGenerator().generate(42)
population = [PROBLEM_SIZE/2, PROBLEM_SIZE*2]
ga_runner = mlrose_hiive.GARunner(problem,
                           seed=42,
                           output_directory='output',
                           iteration_list=[PROBLEM_SIZE/2, PROBLEM_SIZE*2, PROBLEM_SIZE*5],
                           experiment_name='GA_KS_100',
                           population_sizes=population, mutation_rates=[0.1, 0.3, 0.5])
ga_stats_100, ga_curve_100 = ga_runner.run()

In [16]:
ga_stats_100[ga_stats_100.Fitness == ga_stats_100.Fitness.max()]

,Iteration,Fitness,FEvals,Time,State,Population Size,Mutation Rate,max_iters
9,50.0,211.0,2606,0.179347,"[4, 4, 4, 4, 4, 1, 4, 4, 0, 4]",50.0,0.5,500
10,200.0,211.0,10256,0.684228,"[4, 4, 4, 4, 4, 1, 4, 4, 0, 4]",50.0,0.5,500
11,500.0,211.0,25556,1.566887,"[4, 4, 4, 4, 4, 1, 4, 4, 0, 4]",50.0,0.5,500
13,50.0,211.0,10256,0.543478,"[4, 4, 4, 4, 4, 1, 4, 4, 0, 4]",200.0,0.1,500
14,200.0,211.0,40406,2.208523,"[4, 4, 4, 4, 4, 1, 4, 4, 0, 4]",200.0,0.1,500
15,500.0,211.0,100706,5.627391,"[4, 4, 4, 4, 4, 1, 4, 4, 0, 4]",200.0,0.1,500
17,50.0,211.0,10255,0.654955,"[4, 4, 4, 4, 4, 1, 4, 4, 0, 4]",200.0,0.3,500
18,200.0,211.0,40405,2.339132,"[4, 4, 4, 4, 4, 1, 4, 4, 0, 4]",200.0,0.3,500
19,500.0,211.0,100705,5.761051,"[4, 4, 4, 4, 4, 1, 4, 4, 0, 4]",200.0,0.3,500
21,50.0,211.0,10256,0.676849,"[4, 4, 4, 4, 4, 1, 4, 4, 0, 4]",200.0,0.5,500
22,200.0,211.0,40406,2.484639,"[4, 4, 4, 4, 4, 1, 4, 4, 0, 4]",200.0,0.5,500
23,500.0,211.0,100706,5.934395,"[4, 4, 4, 4, 4, 1, 4, 4, 0, 4]",200.0,0.5,500

In [17]:
PROBLEM_SIZE = 500
problem = mlrose_hiive.KnapsackGenerator().generate(42, number_of_items_types=20, max_item_count=10)
population = [PROBLEM_SIZE/2, PROBLEM_SIZE*2]
ga_runner = mlrose_hiive.GARunner(problem,
                           seed=42,
                           output_directory='output',
                           iteration_list=[PROBLEM_SIZE/2, PROBLEM_SIZE*2, PROBLEM_SIZE*5],
                           experiment_name='GA_KS_500',
                           population_sizes=population, mutation_rates=[0.1, 0.3, 0.5])
ga_stats_500, ga_curve_500 = ga_runner.run()

In [18]:
ga_stats_500[ga_stats_500.Fitness == ga_stats_500.Fitness.max()]

,Iteration,Fitness,FEvals,Time,State,Population Size,Mutation Rate,max_iters
9,250.0,892.0,63021,3.557202,"[9, 9, 0, 9, 0, 9, 9, 9, 0, 9, 8, 9, 0, 9, 9, ...",250.0,0.5,2500
10,1000.0,892.0,181995,10.581076,"[9, 9, 0, 9, 0, 9, 9, 9, 0, 9, 8, 9, 0, 9, 9, ...",250.0,0.5,2500
11,2500.0,892.0,181995,10.581076,"[9, 9, 0, 9, 0, 9, 9, 9, 0, 9, 8, 9, 0, 9, 9, ...",250.0,0.5,2500
13,250.0,892.0,251267,14.855123,"[9, 9, 0, 9, 0, 9, 9, 9, 0, 9, 8, 9, 0, 9, 9, ...",1000.0,0.1,2500
14,1000.0,892.0,565581,33.460028,"[9, 9, 0, 9, 0, 9, 9, 9, 0, 9, 8, 9, 0, 9, 9, ...",1000.0,0.1,2500
15,2500.0,892.0,565581,33.460028,"[9, 9, 0, 9, 0, 9, 9, 9, 0, 9, 8, 9, 0, 9, 9, ...",1000.0,0.1,2500
17,250.0,892.0,251269,15.033302,"[9, 9, 0, 9, 0, 9, 9, 9, 0, 9, 8, 9, 0, 9, 9, ...",1000.0,0.3,2500
18,1000.0,892.0,555573,33.443590,"[9, 9, 0, 9, 0, 9, 9, 9, 0, 9, 8, 9, 0, 9, 9, ...",1000.0,0.3,2500
19,2500.0,892.0,555573,33.443590,"[9, 9, 0, 9, 0, 9, 9, 9, 0, 9, 8, 9, 0, 9, 9, ...",1000.0,0.3,2500
21,250.0,892.0,251271,15.431037,"[9, 9, 0, 9, 0, 9, 9, 9, 0, 9, 9, 9, 0, 9, 8, ...",1000.0,0.5,2500
22,1000.0,892.0,565585,34.728796,"[9, 9, 0, 9, 0, 9, 9, 9, 0, 9, 9, 9, 0, 9, 8, ...",1000.0,0.5,2500
23,2500.0,892.0,565585,34.728796,"[9, 9, 0, 9, 0, 9, 9, 9, 0, 9, 9, 9, 0, 9, 8, ...",1000.0,0.5,2500

In [44]:
m_best_state, m_best_fitness, m_curve = mimic(problem, curve=True)
print(m_best_fitness, m_curve.shape)

750.0 (36, 2)

In [49]:
problem = DiscreteOpt(length=100, fitness_fn=fitness)
mimic(problem, max_iters=10)

(array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]),
 99.0,
 None)

In [21]:
PROBLEM_SIZE = 100
problem = mlrose_hiive.KnapsackGenerator().generate(42)
population = [PROBLEM_SIZE/2, PROBLEM_SIZE*2]
m_runner = mlrose_hiive.MIMICRunner(problem,
                           seed=42,
                           output_directory='output',
                           iteration_list=[PROBLEM_SIZE/2, PROBLEM_SIZE*2, PROBLEM_SIZE*5],
                           experiment_name='mimc_ks_100',
                           keep_percent_list=[0.25, 0.5, 0.75]
                                    , population_sizes=population
                            , use_fast_mimic=True)
m_stats_100, m_curve_100 = m_runner.run()

In [22]:
m_stats_100[m_stats_100.Fitness == m_stats_100.Fitness.max()]

,Iteration,Fitness,FEvals,Time,State,use_fast_mimic,Population Size,Keep Percent,max_iters
13,50.0,210.0,10254,0.381497,"[4.0, 4.0, 4.0, 4.0, 4.0, 0.0, 4.0, 4.0, 1.0, ...",True,200.0,0.25,500
14,200.0,210.0,40404,1.539751,"[4.0, 4.0, 4.0, 4.0, 4.0, 0.0, 4.0, 4.0, 1.0, ...",True,200.0,0.25,500
15,500.0,210.0,100704,3.813600,"[4.0, 4.0, 4.0, 4.0, 4.0, 0.0, 4.0, 4.0, 1.0, ...",True,200.0,0.25,500

In [23]:
PROBLEM_SIZE = 500
problem = mlrose_hiive.KnapsackGenerator().generate(42, number_of_items_types=20, max_item_count=10)
population = [PROBLEM_SIZE/2, PROBLEM_SIZE*2]
m_runner = mlrose_hiive.MIMICRunner(problem,
                           seed=42,
                           output_directory='output',
                           iteration_list=[PROBLEM_SIZE/2, PROBLEM_SIZE*2, PROBLEM_SIZE*5],
                           experiment_name='mimc_ks_500',
                           keep_percent_list=[0.25, 0.5, 0.75]
                                    , population_sizes=population
                            , use_fast_mimic=True)
m_stats_100, m_curve_100 = m_runner.run()

In [24]:
m_stats_100[m_stats_100.Fitness == m_stats_100.Fitness.max()]

,Iteration,Fitness,FEvals,Time,State,use_fast_mimic,Population Size,Keep Percent,max_iters
13,250.0,875.0,251261,23.559207,"[9.0, 8.0, 0.0, 9.0, 1.0, 9.0, 9.0, 9.0, 0.0, ...",True,1000.0,0.25,2500
14,1000.0,875.0,517527,49.699911,"[9.0, 8.0, 0.0, 9.0, 1.0, 9.0, 9.0, 9.0, 0.0, ...",True,1000.0,0.25,2500
15,2500.0,875.0,517527,49.699911,"[9.0, 8.0, 0.0, 9.0, 1.0, 9.0, 9.0, 9.0, 0.0, ...",True,1000.0,0.25,2500
17,250.0,875.0,251265,23.219324,"[9.0, 9.0, 2.0, 9.0, 0.0, 9.0, 9.0, 9.0, 0.0, ...",True,1000.0,0.50,2500
18,1000.0,875.0,691705,66.270571,"[9.0, 9.0, 2.0, 9.0, 0.0, 9.0, 9.0, 9.0, 0.0, ...",True,1000.0,0.50,2500
19,2500.0,875.0,691705,66.270571,"[9.0, 9.0, 2.0, 9.0, 0.0, 9.0, 9.0, 9.0, 0.0, ...",True,1000.0,0.50,2500